name: local_db

services:

  postgres:
    image: postgres:18
    container_name: local-postgres
    ports:
      - "5432:5432"
    restart: always
    networks:
      - backend
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    command: -c 'max_connections=10000'

  redis:
    image: redis:8
    container_name: local-redis
    ports:
      - "6379:6379"
    restart: always
    networks:
      - backend
    command: >
      --requirepass guest

#  rabbitmq:
#    image: rabbitmq:3-management
#    container_name: local-rabbitmq
#    ports:
#      - "5672:5672"
#      - "15672:15672"
#    restart: always
#    networks:
#      - backend
#    environment:
#      - RABBITMQ_DEFAULT_USER=guest
#      - RABBITMQ_DEFAULT_PASS=guest

networks:
  backend:
    driver: bridge
    name: "local-db-net"
